extends layout

block content
  #app(class='d-flex flex-column h-100')
  script(src="/scripts/app.js")
  script(src="/scripts/0.chunk.js")
  script(src="/scripts/5.chunk.js")
  script(src="/scripts/4.chunk.js")
  script(src="/scripts/8.chunk.js")
  script(src="/scripts/16.chunk.js")
  script(src="/scripts/3.chunk.js")
  script(src="/scripts/6.chunk.js")
  script(src="/scripts/7.chunk.js")
  script(src="/scripts/9.chunk.js")
  script(src="/scripts/10.chunk.js")
  script(src="/scripts/12.chunk.js")
  script(src="/scripts/13.chunk.js")
  script(src="/scripts/14.chunk.js")
  script(src="/scripts/11.chunk.js")
  script(src="/scripts/15.chunk.js")
  script(src="/scripts/2.chunk.js")