doctype html
html(lang='en' class='h-100')
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/styles/5.css")
    link(rel="stylesheet", href="/styles/2.css")

  body(class='d-flex flex-column h-100')
    block content
